
@{
    ViewData["Title"] = "Traffic Light Control";
}
<div>
    <h3>North Traffic Light:<span id="north"></span> </h3>
    <h3>South Traffic Light:<span id="south"></span> </h3>
    <h3>East Traffic Light:<span id="east"></span> </h3>
    <h3>West Traffic Light:<span id="west"></span></h3>
    <h3>North Right Turn Light:<span id="northright"></h3>
</div>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("/trafficLightHub")
                .build();

            connection.on("UpdateLightState", function (state) {                      
                // Set the active light based on the state
                switch (state) {
                    case "NSGreen":
                        document.getElementById("north").innerText = "Green";
                        document.getElementById("south").innerText = "Green";
                        document.getElementById("east").innerText = "Red";
                        document.getElementById("west").innerText = "Red";
                        document.getElementById("northright").innerText = "Red";
                        break;
                    case "NSYellow":
                        document.getElementById("north").innerText = "Yellow";
                        document.getElementById("south").innerText = "Yellow";                                
                        break;                
                    case "NSRed":
                        document.getElementById("north").innerText = "Red";
                        document.getElementById("south").innerText = "Red";                  
                        break;
                    case "EWGreen":
                        document.getElementById("north").innerText = "Red";
                        document.getElementById("south").innerText = "Red";
                        document.getElementById("northright").innerText = "Red";
                        document.getElementById("east").innerText = "Green";
                        document.getElementById("west").innerText = "Green";
                        break;
                    case "EWYellow":
                        document.getElementById("east").innerText = "Yellow";
                        document.getElementById("west").innerText = "Yellow";
                        break;                 
                    case "EWRed":             
                        document.getElementById("east").innerText = "Red";
                        document.getElementById("west").innerText = "Red";
                        break;
                    case "NSGreenRightTurn":
                        document.getElementById("northright").innerText = "Green";
                        document.getElementById("north").innerText = "Green";
                        document.getElementById("south").innerText = "Red";
                        document.getElementById("east").innerText = "Red";
                        document.getElementById("west").innerText = "Red";
                        break;
                    case "NSGreenRightTurnYellow":
                        document.getElementById("northright").innerText = "Yellow";                    
                        break;
                    case "NSGreenRightTurnRed":
                        document.getElementById("northright").innerText = "Red";
                        break;
                    default:
                        break;
                      
                }                
            });


           
            connection.start().catch(function (err) {
                return console.error(err.toString());
            });
        });
    </script>
}
